# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build

# Environment
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Docker
docker/*.yml
Dockerfile*
.dockerignore

# Misc
README.md
scripts
*.md
